<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sourceConnection" value="Server=localhost;Port=3306;User ID=root;Password=toor;Database=bpbatam_bsbs;Allow User Variables=True" />
		<add key="targetConnection" value="Server=localhost;Port=3306;User ID=root;Password=toor;Database=test_db;Allow Load Local Infile=True;Allow User Variables=True;Allow Zero DateTime=True" />
	</appSettings>
</configuration>